// 题干方便的 margin padding 样式
// 所有的这些样式都加了 !important

// .m-5 => margin: 5px;
// .m--5 => margin: -5px;
// .p-10 => padding: 10px;
// .m-h--5 => margin-left: -5px; margin-right: -5px;
// .p-v-15 => padding-top: 15px; padding-bottom: 15px;
// .m-t-10 => margin-top: 10px;
// .p-b-50 => padding-bottom: 50px;
// .m-a => margin-left: auto; margin-right: auto;
// .m-r-a => margin-right: auto;
// .m-l-a => margin-left: auto;

$size: ();

// -20 ~ 20
@for $i from -20 through 20 {
  $size: append($size, $i);
}

// 25 ~ 100 step 5
@for $i from 5 through 20 {
  $size: append($size, $i * 5)
}

// 110 ~ 150 step 10
@for $i from 11 through 15 {
  $size: append($size, $i * 10)
}

// finally $size is array of  -20 -19 ... 19 20 25 ... 95 100 110 ... 140 150

@each $i in $size {
  .m-#{$i} {
    margin: $i#{px} !important;
  }
  .m-h-#{$i} {
    margin-left: $i#{px} !important;
    margin-right: $i#{px} !important;
  }
  .m-v-#{$i} {
    margin-top: $i#{px} !important;
    margin-bottom: $i#{px} !important;
  }
  @if $i >= 0 {
    .p-#{$i} {
      padding: $i#{px} !important;
    }
    .p-h-#{$i} {
      padding-left: $i#{px} !important;
      padding-right: $i#{px} !important;
    }
    .p-v-#{$i} {
      padding-top: $i#{px} !important;
      padding-bottom: $i#{px} !important;
    }
  }
  @each $j in top right bottom left {
    .m-#{str-slice($j,0,1)}-#{$i} {
      margin-#{$j}: $i#{px} !important;
    }
    @if $i >= 0 {
      .p-#{str-slice($j,0,1)}-#{$i} {
        padding-#{$j}: $i#{px} !important;
      }
    }
  }
}

.m-a {
  margin-left: auto !important;
  margin-right: auto !important;
}

.m-r-a {
  margin-right: auto !important;
}

.m-l-a {
  margin-left: auto !important;
}
