<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    style.
      li {list-style: none;}
      span {float: right;}
  body
    p=arr[0].textName
    span=arr[0].user + ' - ' + arr[0].time
    div=arr[0].inner