.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .sub-menu {
    width: 50%;
  }
  .main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    .menu-list {
      display: flex;
      justify-content: space-between;
      width: 75%;
      margin-right: 10px;
      a {
        font-size: 14px;
        color: #999;
        font-weight: bold;
        &.selected {
          color: #000;
        }
      }
    }
  }
}
