.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .sub-menu-wrapper {
    min-width: 30%;
  }
  .main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 50%;
    .menu-list {
      margin-left: 20px;
      margin-right: 10px;
      white-space: nowrap;
      a {
        font-size: 14px;
        color: #999;
        font-weight: bold;
        &.selected {
          color: #000;
          cursor: none;
          pointer-events: none;
        }
      }
      a + a {
        margin-left: 35px;
      }
    }
  }
}
