/*
 * @Author: 张奇
 * @Date: 2019-08-11 21:24:29
 * @LastEditors: 张奇
 * @LastEditTime: 2019-09-11 15:22:40
 * @Description: 
 */
/* 字体图标，依赖font-awesome */
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.fa {
  display: inline-block;
  text-align: center;
}

/* 垂直方向上振动 */
.fa-vibrate-y {
  animation: fa-vibrate-y 1.5s infinite ease-in;
}
/* 振动轨迹 */
@keyframes fa-vibrate-y {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-10%);
  }
}
