.chart-box {
  position: relative;
  width: 905px;
  height: 500px;
  overflow: hidden;
  .chart-animate,
  #dynamic-chart-2 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .chart-animate {
    left: 55px;
    width: 905px;
    overflow: hidden;
  }
  #dynamic-chart {
    transform: translateX(0px);
  }
}
