.subscribe-drawer {
  .ant-drawer-header {
    border-bottom: none;
  }
  .ant-drawer-title {
    font-size: 21px;
    font-weight: bold;
  }

  .ant-btn {
    transition: none;
  }

  .sub-module {
    padding: 15px 0;
    border-bottom: 1px solid #c7c7c7;
    .two-level {
      display: flex;
      margin-top: 10px;
      .branch {
        margin-left: 10px;
        > button {
          margin: 0 10px 10px 0;
        }
      }
    }
  }
}
