.subscribe-drawer {
  .ant-drawer-header {
    border-bottom: none;
  }
  .ant-drawer-title {
    font-size: 21px;
    font-weight: bold;
  }

  .ant-btn {
    transition: none;
  }
  .status-btn {
    background-color: #666;
    border-color: #666;
    color: #fff;
    &.selected {
      background-color: #fff;
      border-width: 2px;
      border-color: #1a97ff;
      color: #1a97ff;
    }
  }
}
