.main-body {
  position: relative;
  .main-item {
    width: 100%;
    padding: 0 4%;
    .item-content {
      width: 100%;
      padding: 30px 0 20px 0;
    }
  }
  .arrow {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 40px;
    background-color: #0f0;
    cursor: pointer;
  }
  .arrow-left {
    left: 2%;
  }
  .arrow-right {
    left: 98%;
  }
}
