// 红色 放大图 清晰化动画
@keyframes redFirstClarity {
  0%,
  11% {
    transform: translate(-342%, -50%) scale(35);
    filter: blur(0);
  }
  12% {
    transform: translate(-342%, -50%) scale(35);
    filter: blur(5px);
  }
  50% {
    transform: translate(-52%, -50%) scale(1);
    filter: blur(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
// 红色 最后一张图缩小定位动画
@keyframes redFirstNarrow {
  0% {
  }
  100% {
    // top: 75.53vw;
    // left: 44.9vw;
    height: 94.4vw;
    transform: translateX(-50%) translateY(-50%);
  }
}

// @keyframes shake-right {
//   0% {
//     transform: translate(-50%, -50%) scale(1);
//   }
//   100% {
//     transform: translate(-52%, -50%) scale(1);
//   }
// }
// @keyframes shake-left {
//   0% {
//     transform: translate(-50%, -50%) scale(1);
//   }
//   100% {
//     transform: translate(-48%, -50%) scale(1);
//   }
// }

// 照相机闪光效果
@keyframes flash {
  0%,
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes boxNarrow {
  0% {
  }
  100% {
    top: 27.07vw;
    left: 13.47vw;
    // top: 75.53vw;
    // left: 44.9vw;
    width: 63.2vw;
    height: 94.4vw;
  }
}
