@font-face {
  font-family: "iconfont"; /* project id 1555621 */
  src: url("//at.alicdn.com/t/font_1555621_0bnurrld8j9h.eot");
  src: url("//at.alicdn.com/t/font_1555621_0bnurrld8j9h.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_1555621_0bnurrld8j9h.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1555621_0bnurrld8j9h.woff") format("woff"),
    url("//at.alicdn.com/t/font_1555621_0bnurrld8j9h.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1555621_0bnurrld8j9h.svg#iconfont")
      format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
