.sub-menu {
  display: flex;
  align-items: center;
  .show {
    .sd {
      margin-right: 10px;
      font-size: 20px;
      font-weight: bold;
      color: #000;
    }
  }
  .sub-type {
    display: flex;
    margin-left: 30px;
    .btn {
      $btn-height: 28px;
      height: $btn-height;
      line-height: $btn-height;
      padding: 0 15px;
      color: #000;
      font-size: 12px;
      border: 1px solid #999;
      border-radius: $btn-height;
      transition: none;
      &:hover,
      &.selected {
        background-color: #000;
        color: #fff;
        border-color: #000;
      }
    }
    .btn + .btn {
      margin-left: 15px;
    }
  }
}
