@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1575960949337'); /* IE9 */
  src: url('iconfont.eot?t=1575960949337#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABqgAAAKJAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBEIEWATYCJAMMCwgABCAFhG0HNhvcBciegeM63bTP6PNbqhlVVY2H7/f739rnnHu/iCQ3zKaTRDzULwk8dehQMtN9OvHN/zUvQCMBo0H/nVCV5fPoDeQDbg12YAPcwLb/a1oAsBGqJIGHbIs5oPTlPgyMJafXfczm9Xyea+rdbQMaSH6guXVSVDyPBJzgQKOCWngjmhBvGLvAJWwm0GqSCL1wdvMSySisXoF4YZvbSCbnURQWbxbqmolFfFZpTm+S+BR+P/7ZiGaSKrMGXnx0eojMf7Z2NO819tzwCV4CnF4hYwmiELdqI1fEBWPiWpWJ9vRaEdJc/kaDUKjLa/sPjySImpXbDuZQNPGz1RWmqqNQfNe5GdRx1hTEOkvdH74npNaOjtctIn3ANpk9fUXV79tLR8qfd/feDfG9dz3T+m//dkL+c3h4PQ6Ee8AV2byjI9PTcKwqbKcm+3iVt5zI7PQ2FrngySnMWxGf9TP5eyISIZ+J/QsEX76CR+vy+Oa2An4M3JOhvuiXTbNEb9EfE/WsKbrEMuWiCl2hactGR4YTWnW7BsvR6zdeO3BXsdBsIEXSZAJZsymyMJZQabOFWrPTaLXInt6mTy0uSgsWzACh2xtJp2/Iun3IwviiMuiPWndktLoU9QXbzMTT3IpxK/AA4QcUewoMxyJyUf4TmtLbclYSst6QQ9sPmqwW4+cYIM8xpFHmoBUGpEw+ALAdeh5ByeTgXnRyIY5DRUnrbtSJyI/knMfQloAOQOgDKOyRgOE3F3Klzz9BJsmzxS0FNf43iIXs1oFGpvYgz5VBr4J7uaahmAZaggGkGPEBANohj4eAsr6dA+0JHfmI0NGQYjdK+yo766v9DyhgJVir5UiRoygPSAfJvUchRiIAAAA=') format('woff2'),
  url('iconfont.woff?t=1575960949337') format('woff'),
  url('iconfont.ttf?t=1575960949337') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1575960949337#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e639";
}

.icon-close:before {
  content: "\e60a";
}

